In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook2").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "1g").\
        config("spark.mongodb.input.uri","mongodb://mongo1:27017,mongo2:27018,mongo3:27019/Stocks.Source?replicaSet=rs0").\
        config("spark.mongodb.output.uri","mongodb://mongo1:27017,mongo2:27018,mongo3:27019/Stocks.Source?replicaSet=rs0").\
        config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.0").\
        getOrCreate()

In [2]:
#reading dataframes from MongoDB
df = spark.read.format("mongo").load()

df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- company_name: string (nullable = true)
 |-- company_symbol: string (nullable = true)
 |-- price: double (nullable = true)
 |-- tx_time: string (nullable = true)

In [3]:
#let's change the data type to a timestamp
df = df.withColumn("tx_time", df.tx_time.cast("timestamp"))

In [4]:
#Here we are calculating a moving average
from pyspark.sql.window import Window
from pyspark.sql import functions as F

movAvg = df.withColumn("movingAverage", F.avg("price").over( Window.partitionBy("company_symbol").rowsBetween(-1,1)) )
movAvg.show()

+--------------------+--------------------+--------------+-----+-------------------+------------------+
|                 _id|        company_name|company_symbol|price|            tx_time|     movingAverage|
+--------------------+--------------------+--------------+-----+-------------------+------------------+
|[5f527ac32f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.39|2020-09-04 13:34:59|            43.405|
|[5f527ac42f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.42|2020-09-04 13:35:00|43.419999999999995|
|[5f527ac52f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.45|2020-09-04 13:35:01|43.443333333333335|
|[5f527ac62f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.46|2020-09-04 13:35:02|             43.46|
|[5f527ac72f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.47|2020-09-04 13:35:03| 43.47666666666667|
|[5f527ac82f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.5|2020-09-04 13:35:04| 43.49666666666667|
|[5f527ac92f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.52|2020-09-04 13:35:05|             43.52|
|[5f527aca2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.54|2020-09-04 13:35:06| 43.53666666666667|
|[5f527acb2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.55|2020-09-04 13:35:07|             43.54|
|[5f527acc2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.53|2020-09-04 13:35:08| 43.53666666666667|
|[5f527acd2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.53|2020-09-04 13:35:09| 43.49666666666667|
|[5f527ada2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.43|2020-09-04 13:35:22| 43.45000000000001|
|[5f527adb2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.39|2020-09-04 13:35:23| 43.39333333333334|
|[5f527adc2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.36|2020-09-04 13:35:24| 43.35666666666666|
|[5f527adf2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.32|2020-09-04 13:35:27|             43.32|
|[5f527ae02f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.28|2020-09-04 13:35:28| 43.29333333333333|
|[5f527ae12f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.28|2020-09-04 13:35:29| 43.28666666666667|
|[5f527ae22f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.3|2020-09-04 13:35:30| 43.30666666666667|
|[5f527ae32f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.34|2020-09-04 13:35:31|             43.34|
|[5f527ac22f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.38|2020-09-04 13:34:58|43.416666666666664|
+--------------------+--------------------+--------------+-----+-------------------+------------------+
only showing top 20 rows

In [5]:
#Saving Dataframes to MongoDB
movAvg.write.format("mongo").option("replaceDocument", "true").mode("append").save()

In [6]:
#Reading Dataframes from the Aggregation Pipeline in MongoDB
pipeline = "[{'$group': {_id:'$company_name', 'maxprice': {$max:'$price'}}},{$sort:{'maxprice':-1}}]"
aggPipelineDF = spark.read.format("mongo").option("pipeline", pipeline).load()
aggPipelineDF.show()

+--------------------+--------+
|                 _id|maxprice|
+--------------------+--------+
|FRUSTRATING CHAOS...|    87.6|
|HOMELY KIOSK UNLI...|   86.48|
| CREEPY GIT HOLDINGS|    83.4|
|GREASY CHAMPION C...|   81.76|
|COMBATIVE TOWNSHI...|   72.18|
|FROTHY MIDNIGHT P...|   66.81|
|ITCHY ACRE CORPOR...|   44.42|
|LACKADAISICAL SAV...|   42.34|
|CORNY PRACTITIONE...|   38.55|
|TRITE JACKFRUIT P...|   22.62|
+--------------------+--------+

In [7]:
#using SparkSQL with MongoDB
movAvg.createOrReplaceTempView("avgs")

sqlDF=spark.sql("SELECT * FROM avgs WHERE movingAverage > 43.0")

sqlDF.show()

+--------------------+--------------------+--------------+-----+-------+------------------+
|                 _id|        company_name|company_symbol|price|tx_time|     movingAverage|
+--------------------+--------------------+--------------+-----+-------+------------------+
|[5f527ac32f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.39|   null|            43.405|
|[5f527ac42f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.42|   null|43.419999999999995|
|[5f527ac52f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.45|   null|43.443333333333335|
|[5f527ac62f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.46|   null|             43.46|
|[5f527ac72f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.47|   null| 43.47666666666667|
|[5f527ac82f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.5|   null| 43.49666666666667|
|[5f527ac92f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.52|   null|             43.52|
|[5f527aca2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.54|   null| 43.53666666666667|
|[5f527acb2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.55|   null|             43.54|
|[5f527acc2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.53|   null| 43.53666666666667|
|[5f527acd2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.53|   null| 43.49666666666667|
|[5f527ada2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.43|   null| 43.45000000000001|
|[5f527adb2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.39|   null| 43.39333333333334|
|[5f527adc2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.36|   null| 43.35666666666666|
|[5f527adf2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.32|   null|             43.32|
|[5f527ae02f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.28|   null| 43.29333333333333|
|[5f527ae12f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.28|   null| 43.28666666666667|
|[5f527ae22f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.3|   null| 43.30666666666667|
|[5f527ae32f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.34|   null|             43.34|
|[5f527ac22f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.38|   null|43.416666666666664|
+--------------------+--------------------+--------------+-----+-------+------------------+
only showing top 20 rows